.navbar .container .navbar-brand {
    color: rgb(35, 35, 35) !important;
    font-size: 30px;
    margin: 6px 0;
}

.opc{
    color: #007bff !important;
    font-size: 20px;
    margin: 4px 0;
    
}

body{
    background: linear-gradient(to right, rgb(76, 161, 175), rgb(196, 224, 229));
}
